header {
   display: block;
   background: #faf9c6;
   padding: 4px;
    display: block;
  }
aside {
    background: #f0e0f0; 
    padding: 10px; 
    width: 200px; 
    float: right; 
    display: block;
    position: sticky;
    top: 0;
   }
aside1 {
    background: #f0f0f0; 
    padding: 10px; 
    width: 200px; 
    float: right; 
    display: block;
    position: sticky;
    top: 150px;
   }
article {
    background: #b3e7e7;
    padding: 10px;
    margin-right: 220px;  
    display: block; 
   }
footer {
    background: #d38df3; 
    padding: 10px; 
    display: block;
    margin-right: 440px;
   }